# It is important that this file is edited as UTF-8.
# The following line should contain a sharp s:
# ß
# If the above line is not correctly displayed, fix your editor first!

general {
	colors = true
	interval = 1
}

order += "memstats"
order += "disk /"
{%- for iface in machine.interfaces %}
order += "ethernet {{iface.name}}"
{%- endfor %}
# order += "ethernet enp3s0"
# order += "ethernet tun0"
order += "volume master"
order += "tztime local"

{%- for iface in machine.interfaces %}
ethernet {{iface.name}} {
        format_up = "{{iface.key}}: %ip (%speed)"
        format_down = ""
}
{%- endfor %}

tztime local {
	format = "%a %Y-%m-%d %H:%M:%S"
}

disk "/" {
	format = "%avail"
}

volume master {
	format = "%volume"
	format_muted = "%volume (MUTE)"
	device = "default"
	mixer = "Master"
	mixer_idx = 0
}
